<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>All Stories</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<h1 style="text-transform: capitalize"><%= user.userName %> Stories</h1>
		<nav><a href="/todos">Todos</a> <a href="/story/">Dashboard</a></nav>
		<ul>
			<% stories.forEach(el => { %>
			<li>
				<h3><%= el.title %> <span>(<%= el.status %>)</span></h3>
				<p><%= el.body %></p>
				<p><%= authors[0]._id %> <%= el.userId %></p>
				<% authors.forEach(author => { %>
				<span>By <%= author._id === el.userId ? author.userName : '' %></span>
				<% }) %>
			</li>
			<% }) %>
		</ul>

		<form action="/story/createStory" method="POST">
			<input type="text" placeholder="title" name="title" />
			<select name="status">
				<option value="public" selected>Public</option>
				<option value="private">Private</option>
			</select>
			<textarea
				id="story"
				name="body"
				rows="5"
				cols="33"
				placeholder="What on you mind today?"></textarea>
			<input type="submit" />
		</form>

		<a href="/logout">Logout</a>

		<script src="js/main.js"></script>
	</body>
</html>
