<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head') %>
	<body>
		<h1 style="text-transform: capitalize"><%= user.userName %> Stories</h1>
		<nav><a href="/todos">Todos</a> <a href="/story/">Dashboard</a></nav>

		<div class="row row-cols-1 row-cols-md-3 g-4">
			<% stories.forEach(el => { %>
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title"><%= el.title %></h5>
						<p class="card-text"><%= el.body.slice(0,100)%>...</p>
						<div class="d-flex flex-row">
							<a href="/<%= el._id %>" class="btn btn-primary">Read More</a>
							<a
								href="/story/editStory/<%= el._id%>"
								class="btn btn-primary ms-2"
								>Edit</a
							>
							<% if (el.author === user.userName) { %>
							<form
								class="ms-2"
								method="POST"
								action="/story/deleteStory/<%=el._id%>?_method=DELETE">
								<button type="submit" class="btn btn-primary">Delete</button>
							</form>

							<% } %>
						</div>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
		<%- include('partials/footer') %>
	</body>
</html>
