<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Stories</h1>
    <nav><a href="/todos">Todos</a></nav>
    <ul>
    <% stories.forEach( el => { %>
            <li class='storyItems' data-id='<%=el._id%>'>
                <h3><%= el.title %></h3>
                <p><%= el.body%></p>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <form action="/story/createStory" method='POST'>
        <input type="text" placeholder="title" name='title'>
        <select name="status">
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
        </select>
        <textarea id="story" name="body" rows="5" cols="33" placeholder="What on you mind today?"></textarea>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>